streamlit
ultralytics
opencv-python-headless
matplotlib
reportlab
numpy
lapx
groq
openai
numpy
opencv-python
torch
torchvision
streamlit
opencv-python-headless
numpy
pillow
groq
openai
reportlab
matplotlib
